
.nav{
    height:10vh;
    background-color: black;
    margin: 0;
    padding: 0;
}
.nav ul {
    display:flex;
    margin: 25px ;
    list-style-type : none;  
}
.nav a{
    color:white;
    text-decoration: none;
    text-align: center;
    padding-left:50px;
    font-size:20px;
    font-weight: 600;
}
.nav a:focus{
        color:cyan;
    }
 .nav a:hover{
    font-size:21px;
 }
.titlename{
    color: white;
    margin-top:0px;
}
.titleimg{
  margin-right:30px;
  margin-top: 0px;
  width:55px;
  height:45px;
}
.haha{
   margin-left:770px;
   width:10vw;
   display: flex;
}
.haha0{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'imprint-mt-shadow-regular';
}
.haha0 p{
    font-size: 27px;
}