.Adminlogin{
    background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adminpanel{
    background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adminpanel1 h2{
    text-align: center;
    padding-top: 20px;
    font-weight:700;
}
.Adminpanel2{
   height:70vh;
   width: 88vw;
   background-color:white;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   opacity: 94%;
}
.Adminpanel2 img{
   width: 100px;
   margin: 30px 80px;
}
.Adminpanel3{
   margin: -19px 70px;
   font-size:15px;
   font-weight:600;
   color: black;
   font-weight:700;
}
.a234{
   display:flex;
}
.Adminpanel4 h2{
   margin: -160px 200px;
   text-align: center;
   font-weight:700; 
   color:#1ca6f3;
}
.Adminpanel5{
   width: 50vw;
   margin: -120px 200px;
   margin-left: 350px;
}
.aimg img{
   border: 2px solid black;
   border-radius: 10px;
}
.Adminpanel5 p{
   color: black;
   font-weight: 500;

}
.doctorcard{
   margin-left: -400px;
   margin-top: 100px;
   display: flex;
   padding-left: 200px;
}
.doctorcard a{
   text-decoration: none;
}
.dcard{
   width:18vw;
   margin-left: 60px;
}

.dcard img{
   width: 13vw;
   height:23vh;
   margin: auto;
}
.card p{
   font-size: 20px;
   text-align: center;
   font-weight:700;
   margin-bottom:10px;
}




           /* css for new registration form */
.Registration{
   margin-left: 100px;
}
.col-md-6{
    padding-left:20px;
    padding-right:20px;
    width: 25rem;
}
.col-12{
    padding-left: 20px;
    width: 80rem;;

}
.box{
    border-radius: 23px;
    border: 3px solid black;
    width: 51%;
    margin-left:200px;
    padding-left: 0px;
    margin-bottom: 60px;
    padding-bottom: 10px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.col-md-5{
    padding-left:20px;
    padding-right:20px;

}
.col-md-5,select{
    width:300px;
    height: 35px;
}
.button{
    padding: 10px 107px;
    
}
[type=buttonk]:not(:disabled){
width: 120px;
margin-left:200px;
}
.text{
    text-decoration-color: aliceblue;
}
.button2{
    margin-left: 300px;
    padding-top: 0px;
    margin-bottom: 20px;
}
.heading{
    margin-left:200px;
    margin-top: 20px;
    
}

 /* css for add doctor */

 .Adddoctor{
   background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adddoctor1{
   width: 88vw;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   padding-top:5vh;
}

  .form-container {
   display: flex;
   height:70vh;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: black;
   color: white;
   opacity:80%;
   /* background-color: #f0f0f0; */
   border-radius: 20px;
   border: 2px solid yellow;
 }
 
 .form-label {
   font-size: 16px;
   font-weight: 600;
 }
 
 .form-input {
   padding:10px;
   border: none;
   border-radius: 5px;
   margin-bottom:10px;
   width: 100%;
   max-width: 400px;
 }
 
 .form-button {
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
 }
 select{
   padding:10px;
   border: none;
   border-radius: 5px;
   margin-bottom:10px;
   width: 100%;
   max-width: 400px;
   height: 100px;
   margin-bottom:25px;
 }

  /* css for search doctor */
 
  .Searchdoctor{
   background-image: url(/src/component/images/l3.png);
   height:81vh;
  }
  .Searchdoctor1{
   height:70vh;
   width: 88vw;
   background-color:white;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   opacity: 94%;
  }
  .Searchdoctor1 h4{
   padding:20px;
   font-weight: 700;
   text-align: center;

  }
  .Searchdoctor2{
   width: 22vw;
   border-right:3px solid black;
  }
  .Searchdoctor2 img{
   width:130px;
   margin: 20px 100px;
   border: 2px solid black;
   border-radius: 8px;
  }
  .Searchdoctor2 p{
  margin-bottom:10px;
  font-size:18px;
  font-weight: 600;
  margin-left: 100px;
  }
  .Searchdoctor234{
   display: flex;
  }
  .Searchdoctor4 {
   width: 22vw;
  }
  .Searchdoctor4 img{
   width:130px;
   margin: 20px 100px;
   border: 2px solid black;
   border-radius: 8px;
  }
  .Searchdoctor4 p{
   margin-bottom:10px;
   font-size:18px;
   font-weight: 600;
   margin-left: 100px;
   }
   .otherdoctors{
      display: flex;
   }
  .otherdoctors p{
   padding-left:400px;
   padding-top: 44px;
  }
 
    /* css for scan card */
  .Scancard{
   background-image: url(/src/component/images/bg.jpg);
   background-size: cover;
   height:81vh;
  }
  .Scancard1{
   background-color:white;
   opacity: 80%;
   height:65vh;
   border-radius: 30px;
   width: 80vw;
   margin-left: auto;
   margin-right: auto;
  }
  .Scancard1 h3{
   color: #360F88;
   font-weight: 700;
   text-align: center;
   padding-top: 30px;
   letter-spacing: 1px;
  }
  .Scancard1 img{
   height: 28vh;
   padding-left:32.5vw;
   margin-top: 10px;
  }
  .Scancard1 p{
   text-align: center;
   letter-spacing: 1px;
   width: 70vw;
   padding-left:300px;
   padding-top:30px;
   /* margin-top: 40px; */
   margin-bottom:-20px;
   font-size: 17px;
   font-weight: 600;
   color: #360F88;
  }