.Adminlogin{
    background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adminlogin1{
   height: 62vh;
   width: 30vw;
   background-color:white;
   padding-top: 15px;
   border-radius: 20px;
   margin: auto;
   border: 2px solid black;
}
.Adminlogin1 p{
   font-size: 16px;
   font-weight:500;
   padding-top: 12px;
   padding-bottom: 8px;
}

.Adminpanel{
    background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adminpanel1 p{
   text-align: center;
   font-size: 30px;
   padding-top:15px;
   font-weight:700;
}
.Adminpanel2{
   height:72vh;
   width: 88vw;
   background-color:white;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   opacity: 94%;
}
.Adminpanel2 img{
   width: 100px;
   margin: 30px 80px;
}
.Adminpanel3{
   margin: -19px 70px;
   font-size:15px;
   font-weight:600;
   color: black;
   font-weight:700;
}
.a234{
   display:flex;
}
.Adminpanel4 p{
   margin: -170px 200px;
   text-align: center;
   font-size:30px;
   font-weight:700; 
   letter-spacing: 1px;
   color:#1ca6f3;
}
.Adminpanel5{
   width: 50vw;
   margin: -155px 200px;
   margin-left: 350px;
}
.aimg img{
   border: 2px solid black;
   border-radius: 10px;
}
.Adminpanel5 p{
   font-size: 20px;
   color: black;
   font-weight: 500;
   letter-spacing: 1px;

}
.doctorcard{
   margin-left: -400px;
   margin-top: 100px;
   display: flex;
   padding-left: 200px;
}
.admincard{
   margin-left: -400px;
   margin-top: 100px;
   display: flex;
   padding-left: 200px;
}
.doctorcard a{
   text-decoration: none;
}
.dcard{
   width:18vw;
   margin-left: 60px;
}

.dcard img{
   width: 13vw;
   height:23vh;
   margin: auto;
}
.card p{
   font-size: 20px;
   text-align: center;
   font-weight:700;
   margin-bottom:10px;
}
.aout{
   margin:-256px -100px;
   width: 55vw;
   color: black;
}
.btn1{
   padding-top: 50px;
   margin-left: -100px;
   width: 90vw;
}
.btn1 button{
   margin-right:520px
}

           /* css for new registration form */
.Registration{
   margin-left: 100px;
}
.col-md-6{
    padding-left:20px;
    padding-right:20px;
    width: 25rem;
}
.col-12{
    padding-left: 20px;
    width: 80rem;;

}
.box{
    border-radius: 23px;
    border: 3px solid black;
    width: 51%;
    margin-left:200px;
    padding-left: 0px;
    margin-bottom: 60px;
    padding-bottom: 10px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.col-md-5{
    padding-left:20px;
    padding-right:20px;

}
.col-md-5,select{
    width:300px;
    height: 35px;
}
.button{
    padding: 10px 107px;
    
}
[type=buttonk]:not(:disabled){
width: 120px;
margin-left:200px;
}
.text{
    text-decoration-color: aliceblue;
}
.button2{
    margin-left: 300px;
    padding-top: 0px;
    margin-bottom: 20px;
}
.heading{
    margin-left:200px;
    margin-top: 20px;
    
}

 /* css for add doctor */

 /* .Adddoctor{
   background-image: url(/src/component/images/l3.png);
    height:81vh;
}
.Adddoctor1{
   width: 88vw;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   padding-top:5vh;
} */

  .form-container {
   display: flex;
   height:70vh;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: black;
   color: white;
   opacity:80%;
   /* background-color: #f0f0f0; */
   border-radius: 20px;
   border: 2px solid yellow;
 }
 
 .form-label {
   font-size: 16px;
   font-weight: 600;
 }
 
 .form-input {
   padding:10px;
   border: none;
   border-radius: 5px;
   margin-bottom:10px;
   width: 100%;
   max-width: 400px;
 }
 
 .form-button {
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
 }
 select{
   padding:10px;
   border: none;
   border-radius: 5px;
   margin-bottom:10px;
   width: 100%;
   max-width: 400px;
   height: 100px;
   margin-bottom:25px;
 }
 .heading{
   font-size: 25px;
   font-weight: 700;
   margin-left:210px;
   padding-bottom: 10px;
 }
 .Registration0{
   background-image: url(/src/component/images/bg.jpg);
   height:120vh;
   background-size: cover;
   padding-top:1px;
 }
 .Registration{
   margin-left:80px;
   width: 60vw;
 }
 .button2{
   margin-left: 130px;
 }
 .button2 text{
   font-size: 22px;
   font-weight: 700;
 }

  /* css for search doctor */
 
  .Searchdoctor{
   background-image: url(/src/component/images/l3.png);
   height:81vh;
  }
  .Searchdoctor1{
   height:70vh;
   width: 88vw;
   background-color:white;
   margin-left: auto;
   margin-right: auto;
   border-radius: 30px;
   opacity: 94%;
  }
  .Searchdoctor1 h4{
   padding:20px;
   font-weight: 700;
   text-align: center;

  }
  .Searchdoctor2{
   width: 22vw;
   border-right:3px solid black;
  }
  .Searchdoctor2 img{
   width:130px;
   margin: 20px 100px;
   border: 2px solid black;
   border-radius: 8px;
  }
  .Searchdoctor2 p{
  margin-bottom:10px;
  font-size:18px;
  font-weight: 600;
  margin-left: 100px;
  }
  .Searchdoctor234{
   display: flex;
  }
  .Searchdoctor4 {
   width: 22vw;
  }
  .Searchdoctor4 img{
   width:130px;
   margin: 20px 100px;
   border: 2px solid black;
   border-radius: 8px;
  }
  .Searchdoctor4 p{
   margin-bottom:10px;
   font-size:18px;
   font-weight: 600;
   margin-left: 100px;
   }
   .otherdoctors{
      display: flex;
   }
  .otherdoctors p{
   padding-left:400px;
   padding-top: 44px;
  }
 
    /* css for scan card */
  .Scancard{
   background-image: url(/src/component/images/bg.jpg);
   background-size: cover;
   height:81vh;
  }
  .Scancard1{
   background-color:white;
   opacity: 80%;
   height:65vh;
   border-radius: 30px;
   width: 80vw;
   margin-left: auto;
   margin-right: auto;
  }
  .Scancard1 h3{
   color: #360F88;
   font-weight: 700;
   text-align: center;
   padding-top: 30px;
   letter-spacing: 1px;
  }
  .Scancard1 img{
   height: 28vh;
   padding-left:32.5vw;
   margin-top: 10px;
  }
  .Scancard1 p{
   text-align: center;
   letter-spacing: 1px;
   width: 70vw;
   padding-left:300px;
   padding-top:30px;
   /* margin-top: 40px; */
   margin-bottom:-20px;
   font-size: 17px;
   font-weight: 600;
   color: #360F88;
  }

  /* css for adddoctor page */
  .Adddoctor0{
   background-image: url(/src/component/images/bg.jpg);
   height:110vh;
   background-size: cover;
   padding-top: 1px;
  }
  .oo{
   display: flex;
  }
  .form1{
   height:78vh;
  }

  /* css for search button */

  form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width:25%;
   height:5vh;
   background: #f1f1f1;
 }
 
 /* Style the submit button */
 form.example button {
   float: left;
   width:10%;
   padding: 10px;
   background: #2196F3;
   color: white;
   height:5vh;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none; /* Prevent double borders */
   cursor: pointer;
 }
 
 form.example button:hover {
   background: #0b7dda;
 }
 
 /* Clear floats */
 form.example::after {
   content: "";
   clear: both;
   display: table;
 }
 .search1{
   /* margin-left:20vw; */
   padding-left: 400px;
   padding-top: 15px;
 }
 .Addreport{
   background-image: url(/src/component/images/bg.jpg);
   height:85vh;
   background-size: cover;
 }
 .Addreport1{
   background-color:white;
   width: 60vw;
   height: 50vh;
   border-radius:30px;
   border: 2px solid black;
   margin: auto;
   box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);   
 }
 .Addreport1:hover{
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
 }
 .Addreport23{
   display: flex;
   
 }
 .Addreport2{
   width: 19vw;
   padding-top:30px;
 }
 .Addreport3{
 padding-left:250px;
 padding-top:40px;
 }
 .Addreport3 img{
   height: 120px;
   padding-left:0px;
 }
 .Addreport4{
   width: 40vw;
   padding-left:250px;
   margin:  80px 110px;
 }


 /* css for adddetails */
  .Adddetails{
   background-image: url(/src/component/images/l3.png);
   height:81vh;
  }
 .Adddetailsn1{
   background-color:white;
   opacity: 90%;
   height:70vh;
   border-radius: 30px;
   width: 80vw;
   margin-left: auto;
   margin-right: auto;
}
.Adddetailsn2{
   font-size: 25px;
   font-weight: 700;
   text-align: center;
  padding-top: 6px;
}
.fox{
   width:40vw;
}
.Adddetailsn34{
   display: flex;
}

