.Card{
  padding-left: 70px;
}
.card1{
    width:50vh;
    margin-left: 30px;
    margin-top: 120px;
    padding: 0px 10px;
}
.card1 img{
  padding-top: 12px;
  padding-left:15px;
  width:21vw;
  height:44vh;
}
.card3 {
    padding-top:20px;
    text-align: center;
    color:black;
    font-weight: 600;
    padding-bottom: 10px;
}
.card2{
 padding-left: 20px;
  height: 250px;
  width: 45vh;
}
.card1:hover{
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  transform: scale(1.001);
  box-shadow: 5px 10px 8px 10px #888888;
}
.btn-dark{
  font-size:15px;
}
/* button{
    height:35px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius:10px;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    
} */