.Table{
    width: 90vw;
    color: black;
    margin: auto;
}
.Table thead{
    width:20px;

}
.Table a{
margin-left:20px;
}
.Table{
    font-size:18px;
    font-weight: 600;
    /* text-align: center; */
}
.Table th{
    padding-left: 100px;

}
.Table td{
    padding-left: 100px;
}

.Table button{
    margin-left:-30px;
    color: #eee;
    border: 2px solid whitesmoke;
    color:black;
}
.Table button:hover {
    border: 2px solid green;
    color:white;
  }
  .Table p{
    width:30px;
    height:2px;
    margin-left: -50px;
    margin-top:-27px;
  }
  .btn-transparent{
    margin-right:60px
  }
  .Table td i{
    margin-left:-20px;
    width:7vw;
    height:3vh;
    color: black;
}