/*  */*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login{
    height:74vh;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-1{
    border-radius:20px;
    background-color: white;
    padding: 20px;
}
.login form{
 font-size: 21px;
}
.login-1 h1{
    font-size: 36px;
    margin-bottom: 22px;
}
.form-group{
    margin-bottom:10px;
}